*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.tech{
    font-size: 2rem;
    color: #FFFFFF;
}

.wave{
    font-size: 2rem;
    background:linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
   -webkit-text-fill-color: transparent;
    color: transparent;
}

.menu ul{
    display: flex;
    gap: 32px;
    margin-left: 314px;
    margin-right: 330px;
}
.menu ul li{
    color: #FFFFFF;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

.button{
    padding: 12px 16px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger{
    display: none;
}

.banner{
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
    width: 100%;
    height: 760px;
    text-align: center;
}

.banner-image{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/hero-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 75px;
    color: #FFFFFF;
    margin-top: 40px;

}

.banner-content p{
    font-size: 1rem;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.536);
    margin-top: 8px;
}


.button2{
    padding: 12px 20px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.button3{
    padding: 12px 20px;
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.banner-button-box{
    margin-top: 24px;
    display: flex;
    gap: 8px;
}

.bag{
    padding: 8px 16px;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 100000px;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 5px;
    right: 30px; 
}


.about{
    background-color:  rgba(26, 11, 46, 1);
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.about-content p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    color:rgba(255, 255, 255, 0.404);  
    line-height: 20px;
    margin-top: 16px;
    max-width: 1200px;

}


.about-card h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    margin-bottom: 16px;
}

.about-card p{
    color: #ffffff7d;
    font-size: 1rem;
    line-height: 20px;
}

.about-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 160px;
    padding-bottom: 120px;
}

.choose{
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}

.choose h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    color: #FFFFFF;
}

.card img{
    width: 60px;
    height: 60px;
}

.card h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 16px;
}

.card p{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.395); 
    margin-top: 16px;
}

.card{
    width: 100%;
    padding: 40px;
    text-align: start;
    background-color:  rgba(53, 17, 101, 0.514);
    border-radius: 40px;
    box-sizing: border-box;
}

.layout{
    display: grid;
    grid-auto-flow: dense;
    gap: 20px;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.big1{
    grid-column: span 1;
    grid-row: span 2;
}

.big1 img{
    margin-top: 67px;
}

.big1 p{
    max-width: 300px;
}

.big2{
    grid-column: span 2;
    grid-row: span 1;
}

.normal{
    grid-column: span 1;
    grid-row: span 1;
}

.feature_and_meet{
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.feature{
    text-align: center;
}

.feature h2, .meet h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    color: #FFFFFF;
}

.episode-card h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.episode-card p{
    font-size: 1rem;
    color: #ffffff85;
    margin-bottom: 12px;
}
.episode{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.episode-card{
    max-width: 380px;
    text-align: start;
    background-color: #250D44;
    border-radius: 24px;
}

.frame{
    border-radius: 24px ;
}
.media-content{
    padding: 24px;
}

.clock{
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.button-clock{
    border: none;
    background: transparent;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
}

.main-frame{
    border-radius: 24px 24px 0 0;
    width: 100%;
    max-width: 380px;
}

.meet{
    text-align: center;
    padding: 120px 0 0 0;
}

.meet-content h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.meet-content p{
    font-size: 1rem;
    color: #ffffff87;
    margin-bottom: 16px;
}

.icon-box .icon{
    border: 1px solid rgba(83, 60, 114, 1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
}

.icon-box .icon img{
    width: 20px;
}

.icon-box{
    display: flex;
    gap: 8px;
}

.meet-card img{
    width: 200px;
}

.meet-card{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
    margin-top: 40px;
    background-color: #250D44;
    border-radius: 40px;
}

footer{
    background-image: url('../images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 200px;
    text-align: center;
}

.tech2{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
}

.wave2{
    font-size: 4rem;
    font-weight: 800;
    background:linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
   -webkit-text-fill-color: transparent;
    color: transparent;
}

.footer-icon{
    font-size: 1rem;
    color: #ffffffb4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 34px;
}

.jhamela{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}

.jhamela img{
    width: 24px;
}
/* .footer-icon, .copy p */
.copy p{
    font-size: 1rem;
    color: #ffffff89;
    margin-top: 34px;
}
/* property name | duration | easing function | delay */
.btn{
    cursor: pointer;
    transition: font-size 4s, color 3s, border 3s;
}

.btn:hover{
    font-size: 1.1rem;
    color: #00FF88;
}

.button3:hover{
    color: #FFFFFF;
    border: 1px solid #ffffff;
}



@media screen and (max-width: 576px) {
    .menu{
        display: none;
    }

    .button-box1{
        display: none;
    }

    .hamburger{
        display: block ;
    }

    nav{
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }

    .banner{
        padding-top: 20px;
        height: 466px;
        /* max-width: 440px; */
        background-image: url('../images/mobile-banner.png') ;
        
    }

    .banner-image{
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .banner-image img{
        width: 50px;
    }

    .bag{
        right: -17px;
    }

    .about-card{
        gap: 40px;
    }

    .choose h2, .meet h2{
        font-size: 2rem;
    }

    .choose{
        padding: 120px 20px;
    }

    .card{
        padding: 24px;
    }

    .layout{
        grid-template-columns: repeat(1, 1fr);
    }

    .normal, .big1, .big2{
        grid-column: span 1;
        grid-row: span 1;
    }

    .episode{
        flex-direction: column;
    }

    .feature_and_meet{
        padding: 120px 20px;
    }

    .feature h2{
        font-size: 2rem;
    }

    .meet-card{
        text-align: center;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        border-radius: 24px;
    }

    .meet-card img{
        width: 150px;
    }

    .icon-box{
        justify-content: center;
    }

    footer{
        background-image: url('../images/mobile-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        text-align: center;
    }
    .footer-icon, .copy p{
        margin-top: 24px;
    }

}










@media screen and (min-width: 576px) and (max-width: 992px) {

    .menu{
        display: none;
    }

    .button-box1{
        display: none;
    }

    .hamburger{
        display: block ;
    }

    nav{
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }

    .banner{
        padding-top: 20px;
        height: 466px;
        /* max-width: 440px; */
        background-image: url('../images/mobile-banner.png') ;
        
    }

    .banner-image{
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .banner-image img{
        width: 50px;
    }

    .bag{
        right: -17px;
    }

    .about-card{
        gap: 40px;
    }

    .choose h2, .meet h2{
        font-size: 3rem;
    }

    .choose{
        padding: 120px 20px;
    }

    .card{
        padding: 30px;
    }

    .layout{
        grid-template-columns: repeat(1, 1fr);
    }

    .normal, .big1, .big2{
        grid-column: span 1;
        grid-row: span 1;
    }

    .episode{
        flex-direction: column;
    }


    .feature_and_meet{
        padding: 120px 50px;
        text-align: center;
    }


    .feature h2{
        font-size: 3rem;
    }

    .meet-card{
        text-align: center;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        border-radius: 24px;
    }

    .meet-card img{
        width: 150px;
    }

    .icon-box{
        justify-content: center;
    }

    footer{
        background-image: url('../images/mobile-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        text-align: center;
    }
    .footer-icon, .copy p{
        margin-top: 24px;
    }

}