*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.tech{
    font-size: 2rem;
    color: #FFFFFF;
}

.wave{
    font-size: 2rem;
    background:linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
   -webkit-text-fill-color: transparent;
    color: transparent;
}

.menu ul{
    display: flex;
    gap: 32px;
    margin-left: 314px;
    margin-right: 330px;
}
.menu ul li{
    color: #FFFFFF;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

.button{
    padding: 12px 16px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger{
    display: none;
}

.banner{
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
    width: 100%;
    height: 760px;
    text-align: center;
}

.banner-image{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/hero-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 75px;
    color: #FFFFFF;
    margin-top: 40px;

}

.banner-content p{
    font-size: 1rem;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.536);
    margin-top: 8px;
}


.button2{
    padding: 12px 20px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.button3{
    padding: 12px 20px;
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.banner-button-box{
    margin-top: 24px;
    display: flex;
    gap: 8px;
}

.bag{
    padding: 8px 16px;
    color: #1A0B2E;
    background-color: #00FF88;
    border: none;
    border-radius: 100000px;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 5px;
    right: 30px; 
}


.about{
    background-color:  rgba(26, 11, 46, 1);
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.about-content p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    color:rgba(255, 255, 255, 0.404);  
    line-height: 20px;
    margin-top: 16px;
    max-width: 1200px;

}


.about-card h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    margin-bottom: 16px;
}

.about-card p{
    color: #ffffff7d;
    font-size: 1rem;
    line-height: 20px;
}

.about-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 160px;
    padding-bottom: 120px;
}

.choose{
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}

.choose h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    color: #FFFFFF;
}

.card img{
    width: 60px;
    height: 60px;
}

.card h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 16px;
}

.card p{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.395); 
    margin-top: 16px;
}

.card{
    width: 100%;
    padding: 40px;
    text-align: start;
    background-color:  rgba(53, 17, 101, 0.514);
    border-radius: 40px;
    box-sizing: border-box;
}

.layout{
    display: grid;
    grid-auto-flow: dense;
    gap: 20px;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.big1{
    grid-column: span 1;
    grid-row: span 2;
}

.big1 img{
    margin-top: 67px;
}

.big1 p{
    max-width: 300px;
}

.big2{
    grid-column: span 2;
    grid-row: span 1;
}

.normal{
    grid-column: span 1;
    grid-row: span 1;
}



@media screen and (max-width: 576px) {
    .menu{
        display: none;
    }

    .button-box1{
        display: none;
    }

    .hamburger{
        display: block ;
    }

    nav{
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }

    .banner{
        padding-top: 20px;
        height: 466px;
        max-width: 440px;

    }

    .banner-image{
        width: 200px;
        height: 200px;
    }

    .banner-image img{
        width: 50px;
    }

    .bag{
        right: -17px;
    }

    .about-card{
        gap: 40px;
    }

    .choose h2{
        font-size: 2rem;
    }
}