*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tech{
    font-size: 2rem;
    color: #FFFFFF;
}

.wave{
    font-size: 2rem;
    background:linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
   -webkit-text-fill-color: transparent;
    color: transparent;
}

.menu ul{
    display: flex;
    gap: 32px;
    margin-left: 314px;
    margin-right: 330px;
}
.menu ul li{
    color: #FFFFFF;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

.button{
    padding: 12px 16px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100000px;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 576px) {
    .menu{
        display: none;
    }

    .button-box1{
        display: none;
    }

    .hamburger{
        display: block ;
    }

    nav{
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }
}